* {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: lightblue;
  padding: 20px;
}

nav a {
  margin-right: 10px;
}

nav a.active {
  color: rgb(23, 114, 23);
  text-decoration: none;
  font-weight: bold;
}
